@model List<Product>;
@{
    ViewData["Title"] = "Products";
}

    <h1 class="text-4xl text-center text-teal-500 mb-10">Products</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">

 @foreach (var item in Model)
    {
        var image = "/products/" + item.Id + ".jpg";
        <div class="max-w-sm rounded overflow-hidden shadow-lg mb-10 mx-auto" style="min-height:450px;">
  <img class="w-50 m-auto" src="@image" alt="@item.Name">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">@item.Name</div>

  </div>
  <div class="px-6 pt-4 pb-2 flex justify-between">
                <a href="/products/details/@item.Id"><span class=" bg-sky-500 rounded px-3 py-1 text-sm font-semibold text-white mb-2 hover:bg-sky-600 transition">عرض المنتج</span></a>
                <span class=" bg-teal-500 rounded-full px-3 py-1 text-sm font-semibold text-white mb-2">السعر : @item.Price ريال</span>
  </div>
</div>
    }
</div>