<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AliStore | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ali442115450products.styles.css" asp-append-version="true" />
</head>
<body dir="rtl">
    <header>
        <nav class="flex items-center justify-center flex-wrap bg-teal-500 text-white p-6 mb-5">
            <div class="p">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">Ali Store</a>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
